@page "/product/{id}"

    <div class="container justify-content-center">
        <div class="card mb-3">
            <img src="@Item.ImgUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">@Item.ProductName</h3>
                <h5 class="card-text">@Item.LongDescription.</h5>
                <p class="card-text"><del><small class="text-muted ">999.95</small></del></p>
                <h6 class="card-text">@Item.Price</h6>

            </div>
        </div>
    </div>

    @code {
        [Parameter]
        public string Id { get; set; }

        public Product Item { get; set; } = new();


        protected override async Task OnInitializedAsync()
        {
            Item = await Http.GetFromJsonAsync<Product>($"https://localhost:44311/api/Products/{Id}");
        }
    }